<div *ngIf="loading">Loading forecast...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="forecast" class="forecast-container">
  <!-- Title of Forecast -->
  <h2>3-Day Forecast for {{ forecast.location }}, {{ forecast.country }}</h2>

 <!-- Timeline boxes -->
  <div class="forecast-timeline">
    <div class="forecast-day" *ngFor="let day of forecast?.forecast">
      <h3>{{ day.date | date:'EEE, MMM d' }}</h3>
      <img [src]="day.conditionIcon" alt="{{ day.condition }}" />
      <p>Max: {{ day.maxTempC }}°C, Min: {{ day.minTempC }}°C</p>
      <p>{{ day.condition }}</p>
      <p>🌧 {{ day.chanceOfRain }}% | 💨 {{ day.maxWindKph }} kph | 💧 {{ day.avgHumidity }}%</p>
    </div>
  </div>
</div>
